.joke-reaction {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 10px 0;

  p {
    margin-left: 5px;
  }

  & > div {
    opacity: 1;
    filter: grayscale(0);
    display: flex;
    transition: all 0.2s ease-out;

    & > span {
      transform: rotate(0deg);
      transition: all 0.2s ease-out;
    }

    &:hover {
      filter:grayscale(0);
    }
  }

  .isInactive {
    opacity: 0.5;
    filter: grayscale(1);
  }

  .slanted {
    transform: rotate(45deg);
  }
}
