.joke {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
  white-space: break-spaces;
}

.joke-author {
  font-weight: bold;
  margin-bottom: 10px;
}

.joke-content, .joke-likes, .joke-translations-link {
  font-size: 0.9375rem;
}

.joke-likes {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.joke-reaction {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 10px 0;

  p {
    margin-left: 5px;
  }

  & > div {
    opacity: 1;
    filter: grayscale(0);
    display: flex;
    transition: all 0.2s ease-out;

    & > span {
      transform: rotate(0deg);
      transition: all 0.2s ease-out;
    }
  }

  .isInactive {
    opacity: 0.5;
    filter: grayscale(1);
  }

  .slanted {
    transform: rotate(45deg);
  }
}
